body {
  background-color: rgb(229, 243, 244);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('/images/bg-texture.jpg');
  /*background-size: 400px 500px;
  background-repeat: no-repeat;*/
}

h1 {
  color: #129BB2;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #129BB2;
  padding-bottom: 20px;
}

h2 {
  text-decoration: underline;
  color: #ED1A7B;
}

#lede {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  text-align: center;
  line-height: 1.25rem;
}

.name {
  color: #ED1A7B;
}

aside {
  width: 400px;
  padding: 20px 10px;
  border: 2px dotted #ED1A7B;
  text-align: center;
  vertical-align: middle;
  margin: 10px 25%;
}

footer > div > p {
  font-style: italic;
}

nav {
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 0 10px;
}

nav h3, nav ul, nav li {
  display: inline-block;
}

nav ul {
  padding-left: 20px;
}

nav li {
  padding: 0 10px 0 10px;
  margin: 0;
  border-right: 2px solid #fff !important;
}

nav li:last-child {
  border-right: none;
}

nav li:hover {
  background-color: #fff;
  color: #333;
}

nav a {
  color: #129BB2;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#puppy-image {
  width: 400px;
}
