/*
#CCBC4A Gold
#999684 Grey
#FFD276 Light gold
#B6E5FF Light blue
#4AC0CC aqua
*/

* {
  box-sizing: border-box;
}
body {
  margin: 1rem;
  font-size: 12px;
}

@media (min-width: 500px) {
  body {
    margin: 1rem 10%;
  }
}

.social-media-profiles {
  text-align: right;
  padding: 0;
  margin: 20px 0;
  font-size: 1.2rem;
}
.social-media-profiles li {
  display: inline-block;
  list-style: none;
  margin-left: 0.4rem;
}

.social-media-profiles a {
  color: #999684;
}

.resume-component {
  /*background-color: #999684;*/
  background-color: #eee;
  padding-bottom: 2rem;
  border-bottom: 1px solid #999684;
  position: relative;
}

.resume-component h3, .resume-component i.section-icon {
  background-color: #4AC0CC;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  text-align: center;
  font-size: 1.1rem;
  min-height: 55px;
  vertical-align: middle;
}

.resume-component h3 {
  min-width: 100px;
  max-width: 125px;
  margin-top: 0;
}

.resume-component i.section-icon {
  display: none;
  /*padding-top: 20px;*/
  font-size: 1.5rem;
  border-right: 1px solid white;
  text-align: center;
}

@media (min-width: 580px) {
  .resume-component i.section-icon {
    display: inline-block;
    width: 60px;
    position: absolute;
    left: -60px;
  }
}

h1 {
  color: #FFD276;
  margin: 0.25rem 0 0;
  line-height: 1em;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;
  color: #4AC0CC
}

h4 {
  text-transform: uppercase;
}

.experience-container {
  background-color: #eee
}

.resume-detail {
  margin: 0 0.75rem;
}

.resume-detail .profile-photo {
  display: none;
  width: 90px;
  height: 100px;
  font-size: 4.5rem;
  background-color: #999;
  text-align: center;
}

div.name-container {
  display: inline-block;
  margin-left: 0.8rem;
}

@media (min-width: 560px) {
  .resume-detail .profile-photo {
    display: inline-block
  }
}

address {
  margin-bottom: 2rem;
}

dt, dd {
  display: inline-block;
  float: left;
}

dt {
  font-weight: bold;
  color: #FFD276;
  text-decoration: none;
  font-style: normal;
  clear: left;
  width: 25%;
  text-align: right;
}

@media (min-width: 560px) {
  dt {
    text-align: left;
    max-width: 90px;
  }
}

dd a {
  text-decoration: none;
  color: #4AC0CC;
  font-style: normal;
}

dd {
  margin-left: 0;
  clear: right;
  width: 75%;
  padding-left: 0.5rem;
}

.profile-text {
  margin-left: 0.75rem;
}

#programming-skills {
  margin: 0;
  padding: 0;
  list-style: none;
}

#programming-skills p {
  font-weight: bold;
  color: #888;
  margin: 0 0 0.3rem;
}

#programming-skills li {
  margin-bottom: 0.5rem;
}

.programming-skill {
  width: 100%;
  background-color: #888;
}

.skill-level {
  display: block;
  color: white;
  text-align: right;
  font-weight: bold;
  background-color: #CCBC4A;
  padding-right: 2px;
}

.skill-level.alt {
  background-color: #4AC0CC
}

#methodologies {
  list-style: none;
  margin: 0;
  padding: 0;
}

#methodologies li {
  min-height: 1.6rem;
  vertical-align: middle;
}
#methodologies p {
  vertical-align: middle;
  min-height: 1.6rem;
  font-weight: bold;
  font-size: 0.6rem;
  color: #888;
  display: inline-block;
  min-width: 50px;
  max-width: 150px;
  text-align: right;
  margin: 0 0.4rem 0;
}

#methodologies .proficiency-indicators {
  color: #CCBC4A;
  font-size: 1.5rem;
}

#methodologies .proficiency-indicators.alt {
  color: #4AC0CC;
}

@media (min-width: 760px) {
  .experience-container {
    border-bottom: 1px solid #999684;
  }
  .resume-component.history, .resume-component.sidebar {
    vertical-align: top;
    display: inline-block;
    border-bottom: none;
  }

  .resume-component.history {
    max-width: 419px;
  }

  .resume-component.sidebar {
    max-width: 199px;
    margin-top: 60px;
  }

  .resume-component.sidebar ul li {
    font-size: 0.4rem;
    margin-bottom: 0.4rem;
  }

  #methodologies p {
    display: block;
    font-size: 0.6rem;
    line-height: 0.6rem;
    text-align: left;
    margin-left: 0;
    min-height: auto;
  }

  #methodologies .proficiency-indicators {
    font-size: 1.4rem;
  }
}

h4.experience {
  color: white;
  font-weight: bold;
  background-color: #888;
  border-radius: 3px 0 0 3px;
}

h4.experience span {
  padding: 5px 0;
}

h4.experience i {
  padding: 5px 0;
  margin: 0 10px 0 0;
  border-radius: 3px;
  background-color: #CCBC4A;
  min-width: 20px;
  text-align: center;
}

h4.experience.education i {
  background-color: #4AC0CC;
}

p.location, p.duration {
  font-weight: bold;
  color: #888;
  margin: 0.1rem 0;
  font-size: 0.6rem;
}

p.duration {
  margin-bottom: 0;
}

p.location {
  margin-top: 0;
}

.professional-experience h5 {
  margin: 0.1rem 0;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.professional-experience h6 {
  margin: 0 0 0.1rem 0;
  font-style: italic;
  color: #CCBC4A;
  font-weight: normal;
  font-size: 0.6rem;
}

.professional-experience i, .professional-experience .experience-detail {
  display: inline-block;
  vertical-align: top;
}

.professional-experience span.bullet {
  width: 8%;
  color: white;
  text-align: center;
  font-size: 0.6rem;
}

span.bullet .fa-circle {
  color: #CCBC4A;
}

.education span.bullet .fa-circle {
  color: #4AC0CC;
}

span.bullet .fa-chevron-right {
  color: white;
  margin-left: 0.05rem;
}

.professional-experience .experience-detail {
  width: 90%;
}

.professional-experience ul {
  margin-left: 1.0rem;
  padding: 0;
  list-style-position: outside;
  font-size: 0.6rem;
}
