@media screen and (min-width: 1000px) {
  #bootcamp-guide-form-container {
    width: 50%;
    display: inline-block;
  }

  #bootcamp-guide-panel h3 {
    width: 47%;
    display: inline-block;
  }
}

#bootcamp-guide-panel {
  background-color: #1c2224;
  color: #777777
}

#bootcamp-guide-panel h3 {
  font-weight: normal;
  color: #eeeeee;
  padding: 10px;
}

#bootcamp-guide-form-container {
  padding: 10px 0;
}

#bootcamp-guide-panel span {
  font-weight: bold;
}

.fancy-email-box input.email {
  background: none;
  border: none;
  box-shadow: none;
  font-family: "quatro-slab", sans-serif;
  font-size: 18px;
  color: #eeeeee;
  height: 50px;
  width: 75%;
}

.btn {
  background-color: #84ce15;
  color: white;
  border: none;
  padding: 1%;
  width: 24%;
}

fieldset {
  padding: 10px;
  border: 1px solid #555;
  background-color: #272C2E;
}
